* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body {
    background-image: url(./imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    /*centralizado*/
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cartao {
    opacity: 0;
    /* esconder imagem*/
    display: flex;
    /*a imagem se ajusta na horizontal*/
    flex-direction: column;
    padding: 12px;
    gap: 5px;
    position: absolute;
}

.cartao.selecionado {
    opacity: 1;
    /*aparecer quando selecionado*/
    z-index: 1;
    /*está a frente*/
}

.lista-personagens {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    /* as cartas estão empilhadas*/
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.cartao .nome {
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
    background: radial-gradient(#f3e2c8, #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    border-radius: 4px;
}

.cartao .estrela {
    width: 20px;
    height: 20px;
    background-image: url(imagens/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    /*ao estilizar a tag estrela, está estilçizando tudas as que aparecerão*/
}

.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.cartao .imagem-carta {
    max-width: 260px;
    align-self: center;
    /*se alinhe ao centro*/

}

.cartao .informacoes {
    background: radial-gradient(#f3e2c8, #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    border: radius 5px;
    max-width: 300px;
    color: #000000;
    text-align: left;
    line-height: 1.5;
}

.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.cartao .informacoes .informacoes-ataque span {
    font-size: 13px;
}

.cartao .informacoes .decricao {
    border-bottom: 1px solid #0000;
    padding: 10px;
    max-height: 95px;
    overflow-y: scroll;
    font-size: 13px;
}

.fundo-1 {
    background-image: url(./imagens/fundo-1.jpg);
}

.fundo-2 {
    background-image: url(./imagens/fundo-2.jpg);
}

.fundo-3 {
    background-image: url(./imagens/fundo-3.jpg);
}

.fundo-4 {
    background-image: url(./imagens/fundo-4.jpg);
}

.fundo-5 {
    background-image: url(./imagens/fundo-5.jpg);
}

.fundo-6 {
    background-image: url(./imagens/fundo-6.jpg);
}

.fundo-7 {
    background-image: url(./imagens/fundo-7.jpg);
}

.btn-seta {
    background-color: #ffff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    /*dá o efeito da ação de clicar*/
    background-color: #8351fe;
}

body::-webkit-scrollbar-track {
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}

